{% extends "base.html" %}

{% block title %}{{query[0]['gameName']}}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="text-center p-10">
        <div class="text-blue-400">
          <p class="{{ category }}">{{ message }}</p>
        </div>  
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

	<iframe name="useless" style="display:none;"></iframe>
  {% with item = query[0] %}
	<div class="flex flex-col items-center">
		<h2 class="title text-3xl text-center mb-10">{{item['gameName']}}</h2>
		<iframe src="/game/{{item['gameId']}}" height="650" width="960"></iframe>
		<p class="mt-9 text-lg text-gray-500 italic">By: {{item['userName']}}</p>
		{% if 'user' in session and session['user'] %}
		<div>
			<p>Rate this game!</p>
			{% for i in range(1, 6) %}
			<form style="display:inline" action="/rate_game/{{item['gameId']}}/{{i}}" method="post" target="useless">
				<button>
					<span class="fa fa-star text-yellow-300"></span>
				</button>
      </form>   
			{% endfor %}
			<hr>

			<p>Leave Your Comment!</p>
			<form method="post" action="/comment_game/{{item['gameId']}}">
				<div class="form-group">
					<label for="comment">Comment:</label>
					<textarea class="form-control rounded-lg text-black p-2" id="comment" name="comment" rows="4" cols="50"></textarea>
				</div>
				<input type="submit" value="Submit">
			</form>
			<hr>
		{% else %}
			<p>Sign in to rate and comment on this game!</p>
		{% endif %}

		<p class="text-3xl">Comments:</p>
		{% if 'user' in session and session['user'] and comments == [] %}
			<div>
				<p>No comments. Why not add one?</p>
			</div>
		{% elif comments == [] %}
			<div>
				<p>No comments.</p>
			</div>
		{% endif %}
		{% for comment in comments %}
			<div>
				<p>{{comment['userName']}} commented on {{comment['date']}}:</p>
				<p>{{comment['comment']}}</p>
			</div>
		{% endfor %}
		</div>
	</div>
	{% endwith %}



{% endblock %}

{% block footer %}
{% endblock %}
