{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block head %}
  {{ super() }}
  <style>
        
  </style>
{% endblock %}

{% block content %}
<br>
  <h1 class="title header text-4xl text-center my-10">Sign In</h1>
  <form class="text-center" action="/signin" method="post">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" class="form-control" name="email" required pattern=".+@.+\..+"><br><br>  
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <!-- <input type="password" id="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"><br><br> -->
          <input type="password" id="password" class="form-control" name="password"><br><br>  
        </div>
			<button type="submit" class="bg-green-500 font-bold py-2 px-4 rounded-lg" href="signup">Sign In</button>
  </form> 
{% endblock %}

{% block footer %}
  {{ super() }}
  <!-- <p>This is the footer from the index child template</p> -->
{% endblock %}
