{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    .important { color: #336699; }
    .card-body { margin-top: 100px;}
    .alert {list-style: none; width: 250px; text-align: center; margin: 10px auto 0px auto;}
  </style>
{% endblock %}

<!-- content should be center -->
{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
      <div class="text-center">
        <div class="alert alert-warning" role="alert">
          <li class="text-center {{ category }}">{{ message }}</li>
        </div>  
      </div>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

	<h1 class="text-4xl text-center">User Page</h1>
  <div class="card pb-10" style="width: 6rem; margin: auto;">
    <div class="card-body">
			<a class="bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded-lg" href="/logout">Log Out</a>
		</div>
	</div>

	{% if 'user' in session and session['user'] and session['user']['role'] == 'dev' %}
	<h2 class="text-2xl text-center pt-12">Upload your WebGL Unity zip file</h2>
  <div class="border-0 pt-10" style="width: 30rem; margin: auto;">
    <div class="text-center">
			<form method="post" action="/user" enctype="multipart/form-data">
				<label for="file">Unity zip file:</label>
				<input class="text-gray-200" type="file" name="file"><br>
				<label for="image">Image of game:</label>
				<input class="text-gray-200" type="file" name="image"><br>
				<label for="description">Description of game:</label>
				<input type="text" name="description"> <br>
				<input class="mt-3" type="submit" value="Submit">
			</form>
    </div>
  </div>
	<h2 class="text-2xl text-center pt-8">Delete Games</h2>
  <div class="border-0 pt-6" style="width: 30rem; margin: auto;">
    <div class="text-center">
			{% for game in games %}
				<a class="text-blue-600 underline" href="/play_game/{{game.gameId}}"><h2 class="text-xl text-center pt-6">{{game.gameName}}</h2></a>
				<p class="pb-6">{{game.description}}</p>
				<p><a class="mt-8 bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded-lg" href="/delete_game/{{game.gameId}}">Delete Game</a> </p>
				<br>
			{% endfor %}
    </div>
  </div>
	{% endif %}

	{% if 'user' in session and session['user'] and session['user']['role'] == 'admin' %}
	<h2 class="text-2xl text-center pt-8">Accept Games</h2>
  <div class="border-0 pt-6" style="width: 30rem; margin: auto;">
    <div class="text-center">
			{% if games == [] %}
				<p>There are no games that are currently pending. Yay!</p>
			{% endif %}
			{% for game in games %}
				<a class="text-blue-600 underline" href="/play_game/{{game.gameId}}"><h2 class="text-xl text-center">{{game.gameName}}</h2></a>
				<p class="pb-6">{{game.userName}}</p>
				<p class="pb-6">{{game.description}}</p>
				<p><a class="mt-8 bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded-lg" href="/accept_game/{{game.gameId}}">Accept Game</a></p>
			{% endfor %}
    </div>
  </div>
	<h2 class="text-2xl text-center pt-8">Review Comments Since Last Visit</h2>
  <div class="border-0 pt-6" style="width: 30rem; margin: auto;">
		{% if comments == [] %}
			<p>There are no comments that are currently pending. Yay!</p>
		{% endif %}
		{% for comment in comments %}
			<p>{{comment.userName}} commented on {{comment.date}}: </p> 
			<p class="pb-3">{{comment.comment}}</p>
			<p class="pb-10"><a class="mt-8 bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded-lg" href="/delete_comment/{{comment.commentId}}">Delete Comment</a></p>
		{% endfor %}
  </div>
	<h2 class="text-2xl text-center pt-8">Ban Users</h2>
  <div class="border-0 pt-6" style="width: 30rem; margin: auto;">
		{% if users == [] %}
			<p>There are no users.</p>
		{% endif %}
		{% for user in users %}
			<p class="pb-3">{{user.userName}}</p>
			<p class="pb-10"><a class="mt-8 bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded-lg" href="/delete_user/{{user.userId}}">Ban User</a></p>
		{% endfor %}
  </div>
	{% endif %}
	
	<h2 class="text-2xl text-center pt-16">Delete Account</h2>
  <div class="pt-4" style="width: 30rem; margin: auto;">
    <div class="text-center">
			<p class="text-red-600 pb-9">Note: all games, stars and comments will remain</p>
			<a class="mt-8 bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded-lg" href="/delete_user">Delete Account</a>
		</div>
	</div>
{% endblock %}

{% block footer %}
  {{ super() }}
  <!-- <p>This is the footer from the index child template</p> -->
{% endblock %}
