{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    .important { color: #336699; }
    .card-body { margin-top: 100px;}
    .alert {list-style: none; width: 250px; text-align: center; margin: 10px auto 0px auto;}
  </style>
{% endblock %}

<!-- content should be center -->
{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
      <div class="text-center">
        <div class="alert alert-warning" role="alert">
          <li class="text-center {{ category }}">{{ message }}</li>
        </div>  
      </div>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

	<h1 class="text-4xl text-center">User Page</h1>
  <div class="card" style="width: 18rem; margin: auto;">
    <div class="card-body">
			<a class="bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded-lg" href="/logout">Log Out</a>
		</div>
	</div>
	{% if 'user' in session and session['user'] and session['user']['role'] == 'dev' %}
	<h2 class="text-2xl text-center">Upload your WebGL Unity zip file</h2>
  <div class="card border-0" style="width: 18rem; margin: auto;">
    <div class="card-body">
			<form method="post" action="/user" enctype="multipart/form-data">
				<label for="description">Description of game: </label><br>
				<input type="text" name="description"> <br>
				<label for="file">Unity zip file:</label><br>
				<input class="text-gray-200" type="file" name="file">
				<input type="submit" value="Submit">
			</form>
    </div>
  </div>
	{% endif %}
	<h2 class="text-2xl text-center">Delete Account</h2>
  <div class="card" style="width: 18rem; margin: auto;">
    <div class="card-body">
			<p>Note: all games and comments will remain</p>
			<a class="bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded-lg" href="/delete">Delete Account</a>
		</div>
	</div>
{% endblock %}

{% block footer %}
  {{ super() }}
  <!-- <p>This is the footer from the index child template</p> -->
{% endblock %}
